<div class="d-flex">
    <div class="header_toggle"><i class='bx bx-menu ' id="header-toggle"></i></div>
    <h4 class="ml-1"><%= header %></h4>
</div>
<div class="header_img"><img src="https://img.freepik.com/free-vector/illustration-businessman_53876-5856.jpg"
                             alt="https://img.freepik.com/free-vector/illustration-businessman_53876-5856.jpg">
</div>