@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*, ::before, ::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo, .nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.nav-show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        /*padding-left: calc(var(--nav-width) + 2rem)*/
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .nav-show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}

/*body {*/
/*    padding: 50px;*/
/*    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
/*}*/

a {
    color: #00B7FF;
}

.client {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

.client img {
    max-width: 200px;
}

#add-client {
    cursor: pointer;
}

#add-client:hover {
    background-color: #f5f5f5;
}

#qr-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#qr-modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
}

progress {
    width: 100%;
    height: 20px;
}

progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #007bff;
    border-radius: 10px;
}

.add-client-btn {
    padding: 6px 15px;
    margin-top: 10px;
    background: green;
    color: white;
    border: 1px solid rgb(0, 93, 0);
    border-radius: 2px;
}
.client-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;
    margin-top: 30px;
}
.client {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
}

.hide {
    display: none;
}

#qrcode {
    display: none; /* Showed when qr code received */
    width: 100%;
    margin: 10px 0;
    border: 1px solid #efefef;
    border-radius: 4px;
}
ul {
    list-style-type: none;
}

ul.logs {
    max-height: 150px;
    padding: 15px 15px 15px 30px;
    margin-top: 5px;
    border-radius: 4px;
    overflow-y: auto;
    background: #efefef;
    color: #666;
    font-size: 14px;
}
ul.logs li:first-child {
    color: green;
}

.content {
    height: 90vh;
    margin-top: 5rem;
}

.btn-color{
    background-color: #0e1c36;
    color: #fff;

}

.profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.cardbody-color{
    background-color: #ebf2fa;
}

a{
    text-decoration: none;
}

.ml-1 {
    margin-left: 1rem;
}

td {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td:hover {
    max-width: 150px;
    overflow: visible;
    white-space: normal;
    /*max-width: none;*/
}

td:hover::after {
    content: attr(title);
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 5px;
    top: 100%;
    left: 0;
    white-space: normal;
}

.pagination {
    /*display: flex;*/
    /*justify-content: end;*/
    /*margin-top: 20px;*/
    position: fixed;
    bottom: 5px;
    right: 0%;
    transform: translateX(-20%);
}